<?xml version="1.0" encoding="UTF-8" ?>

<configuration scan="false" scanPeriod="60 seconds" debug="false">
	<!-- <consolePlugin /> -->
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>&lt;%date&gt; [%thread] %-5level %logger{80} - %msg%n
			</pattern>
		</encoder>
	</appender>
	<appender name="file"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/tmp/manage-%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{40} - %msg%n
			</pattern>
		</encoder>
	</appender>


	<logger name="java.sql.Connection">
		<level value="DEBUG" />
	</logger>
	<logger name ="org.springframework.security">
		<level value="DEBUG"></level>
	</logger>

	<root level="INFO">
		<appender-ref ref="stdout" />
		<appender-ref ref="file" />
	</root>
</configuration>
